body {
background: url("img/ir.jpg");
width: 500;
}
table , td{
  text-align: center;
  margin: auto;
  padding-top: 50;
}
h1{
  text-align: center;
}
form {
  border: 2px solid black;
  width: 190px;
}